<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <!-- CUSTOM: START OF HEAD -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="msapplication-config"
      content="resources/scripts/vsvby/images/favicons/browserconfig.xml.jsf"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <title>VSV Bayern ON CLICK Dokumentenansicht</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="resources/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="resources/css/vsvby.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="resources/scripts/vsvby/images/favicons/apple-touch-icon.png.jsf"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="resources/scripts/vsvby/images/favicons/favicon-32x32.png.jsf"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="resources/scripts/vsvby/images/favicons/favicon-16x16.png.jsf"
    />
    <link
      rel="manifest"
      href="resources/scripts/vsvby/images/favicons/manifest.json.jsf"
    />
    <link rel="icon" type="image/x-icon" href="" />

    <script type="text/javascript">
      var contextPath = "";
      var resourceServletMapping = "document";
      var werkProperty = "vsvby_edu";
      var ignorePostfixForReadmanagerCSS = "_edu";
    </script>
    <script
      type="text/javascript"
      src="resources/scripts/jquery-3.3.1.min.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/jquery-ui.min.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/jquery.ui.touch-punch.min.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/jquery.scrollstop.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/isInViewport.min.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/2_boot/bootstrap.bundle.min.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/shi_r4_config.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/shi_r4_functions.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/linkhandler.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/shi_r4_overrides.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/style_util.js.jsf"
    ></script>
    <script type="text/javascript" src="resources/scripts/main.js.jsf"></script>
    <script
      type="text/javascript"
      src="resources/scripts/user_input_event_handling.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/vdbwtree.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/disable_animations_on_mobile.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/breadcrumb.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/sidebar.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/show_static_document_reference_area.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/hitlist.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/screenreader.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/versionCompare.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/accesskeys.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/mobile.js.jsf"
    ></script>
    <link rel="stylesheet" type="text/css" href="resources/css/shiTag.css" />
    <script
      type="text/javascript"
      src="resources/scripts/shiTag.js.jsf"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="resources/css/basicScrollbar.css"
    />
    <script
      type="text/javascript"
      src="resources/scripts/BasicScrollbar.js.jsf"
    ></script>
    <script type="text/javascript" src="resources/scripts/edit.js.jsf"></script>
    <script
      type="text/javascript"
      src="resources/scripts/jsf.js.jsf?ln=javax.faces"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/shi_r4_user_input_event_handling.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/tree.js.jsf?ln=componentsComposite"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/advanced-autosuggest.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/RangeDateField.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/textmarker.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/jquery.textHighlighter.js.jsf"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="resources/css/textmarker.css"
    />
    <script
      type="text/javascript"
      src="resources/scripts/SmartScrollbar.js.jsf"
    ></script>
    <script
      type="text/javascript"
      src="resources/scripts/unsavedChangesNotification.js.jsf"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="resources/css/ajaxWaitingSpinner.css"
    />
  </head>
  <!-- CUSTOM: END OF HEAD -->

  <!-- CUSTOM: START OF BODY -->
  <!-- CUSTOM: END OF BODY -->
</html>
